/*MOBILE STYLE*/
@media (max-width: 768px) {
	.carousel div.carousel-caption{
		
	}
	.carousel img{
		height: 100%;	
		width: 100%;	
		object-fit: cover;
	}
	.welcome .display-4{
		font-size: 30px;
	}
	.welcome span.web-title{
		font-size: 55px;
	}
	.carousel{
		height: 100%;
	}
	.welcome input.search-bar{
		padding-top: 7px;
		padding-bott: ;om: 7px;
		padding-left: 15px;
		border-radius: 25px;
		width: 350px;
	}
	.welcome a.btn{
		transform: scale(0.8);
	}
	
	.navbar ul.navbar-nav{
		/*background-color: #ffc107;*/
	}
	.navbar .dropdown-menu{
		background-color: transparent;
	}
	.navbar .dropdown-item{
		color: white;
	}
	.navbar .dropdown-item:hover{
		background-color: #ffc107;
	}
	.embed-responsive{
		height: 200px;
	}
}
/*JUMBOTRON STYLE IS BELOW HERE!*/

.welcome .display-4{
	color: white;
	margin-top: 125px;
}

.welcome .web-title{
	font-weight: bold;
	font-size: 75px;
	color: white;
	line-height: 50px;
}

.welcome hr{
	border-color: #ffc107;
	width: 7pc;
	border-width: 3px;
}

.welcome .btn{
	border: none;
	border-radius: 25px;
	padding: 8px 60px;
	color: white;
	font-weight: bold;
}

.carousel img{
	width: 100%;
}
.welcome .search-bar{
	display: block;
	width: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	border-radius: 25px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;

}
.welcome{
	position: absolute;
	z-index: 10;
	text-align: center;
	width: 100%;
	margin-top: 60px;
}

/*IMAGE SLIDE STYLE IS BELOW HERE!*/
.carousel-item{
	height: 700px;
}

.row-slide{
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0px;
}

/*STYLE KULINER POPULER*/
h4.popular-sign{
	width: 100%;
	background-color: #ffc107;
}

.card-img-top{
	height: 175px;
	object-fit: cover;
	object-position: center;
}

/*FOOTER*/

.footer{
	margin-top: 10px;
	text-align: center;
	color: white;
	padding: 15px;
	border-top: 3px solid #ffc107;
}


/*STYLE SEARCH PAGE*/
#search-container{
	min-height: 81.5vh;
	margin-top: 60px;
}

#search-container hr{
	border-color: #ffc107;
	width: 100%;
	border-width: 3px;
}

#search-container .card-img{
	height: 200px;
	object-fit: cover;
}


/*STYLE KULINER PAGE*/
#kuliner-container{
	min-height: 81.5vh;
	margin-top: 60px;
}

.poin-rincian{
	font-weight: bold;
	width: 50%;
	padding: 4px;
}

.garis-pemisah{
	border-color: #ffc107;
	width: 100%;
	border-width:3px;
	margin-top: 0px;
}

#kuliner-container h5{
	background-color: #ffc107;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	font-weight: bold;

}

.nav-layout{
	border-bottom: 3px solid #ffc107;
}
.navbar .dropdown-item:hover{
	background-color: #ffc107;
}
.navbar-home.scrolled {
  background-color: #343a40 !important;
  border-bottom: 3px solid #ffc107;
  transition: background-color border-bottom 200ms linear;
}